.itemDetail {
    display: flex;
    align-items: center;
    margin: 20px;
    box-shadow: 2px 2px 20px 9px rgb(240 0 0 / 50%) inset;
}
.itemDetailDiv {
    width: 60%;
    border-right: solid 1px #ef7272;
    text-align: center;
    padding: 30px;
}
.itemDetailDescription {
    width: 40%;
    text-align: center;
    padding: 30px;
}
.itemDetailImg {
    width: 90%;
}
.itemDetailProducto {
    font-size: 24px;
    margin: 30px;
}
.itemDetailProductoPrice {
    font-weight: bold;
    font-size: 22px;
    margin: 30px;
}
.itemDetailDescripcion{
    font-size: 20px;
    margin: 40px;
}
.cargando { 
    text-align: center;
    margin: 40px;
}
.carrito {
    background-color: #ff4949;
    color: black;
    padding: 10px;
    border-radius: 20px;
    font-size: 21px;
}