.item{
    margin: 15px;
    width: 30%;
    box-shadow: rgba(247, 56, 56, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.imgItem{
    width: 30%;
    height: 45%;
}
.botonDetalle {
    background-color: rgb(245, 98, 98);
    padding: 8px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
}