.divForm {
    margin: 50px 15px 15px 15px;
    border-top: 1px solid;
}
form {
    margin: 30px;
}
.divInput {
    margin: 10px;
}
input {
    padding: 10px;
    text-align: center;
    width: 30%;
}
.buttonConfirm {
    background-color: #ff8080
}