a{
    text-decoration: none;
}
nav{
    background: linear-gradient(2deg, red, transparent);
    width: 100%;
}
.divNav{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px;
}
.divTitulo{
    margin: 15px;
    width: 35%;
    text-align: center;
}
.titulo {
    color: black;
    font-size: 24px;
    font-weight: bold;
}
.divLi{
    display: flex;
    justify-content: center;
    width: 50%;
}
.li{
    color: black;
    background-color: #ffdcdc;
    border-radius: 20px;
    font-size: 20px;
    margin: 15px;
    padding: 10px
}